@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,900&display=swap");
html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #E91E63;
}

@media only screen and (max-width: 767px) {
  body {
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
  }
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #E91E63;
}

@media only screen and (max-width: 767px) {
  body {
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
  }
}

.taskCard {
  position: relative;
  background: white;
  font-family: "Montserrat";
  font-weight: 100;
  margin: 0 auto;
}

.task-box {
  position: relative;
  top: 0.5%;
  left: 25px;
  width: 450px;
  height: 150px;
  background-color: #ECE9E6;
  border-radius: 10px;
}

.task-box .task-box__tag {
  position: relative;
  top: 4px;
  left: 0.2px;
  height: 140px;
  width: 5px;
  background-color: #FFC837;
  border-radius: 2px;
}

#priori-off, #priori-on, #archive-off, #completed-off {
  height: 15px;
  width: 15px;
  -webkit-transform: translate(380px, -133px);
          transform: translate(380px, -133px);
  margin: 2px;
}

.task-body__card, .task-body__card--preview {
  float: left;
  margin: 0px 5px 30px 5px;
  margin-left: 56px;
  top: 20px;
  left: 20px;
  position: relative;
  height: 200px;
  width: 180px;
  background: #FFFFFF;
  border: 1px solid rgba(236, 236, 236, 0.5);
  -webkit-box-shadow: 4px 4px 20px rgba(205, 205, 205, 0.2);
          box-shadow: 4px 4px 20px rgba(205, 205, 205, 0.2);
}

.task-body__card #add-task, .task-body__card--preview #add-task {
  position: relative;
  height: 70px;
  top: 50px;
  left: 50px;
}

.task-body__card h2, .task-body__card--preview h2 {
  font-weight: 200;
}

.task-body__card:hover, .task-body__card--preview:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(117, 117, 117, 0.31);
          box-shadow: 5px 5px 20px rgba(117, 117, 117, 0.31);
}

.task-body__card h2 {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  top: 53%;
  left: 23%;
}

.task-body__card--preview #tag-color {
  display: block;
  height: 2px;
  width: 180px;
  background-color: #03A9F4;
}

.task-body__card--preview #sep {
  display: block;
  height: 1px;
  width: 130px;
  margin: 1px 12px 2px 12px;
  background-color: #BDBDBD;
  opacity: 0.2;
}

.task-body__card--preview p {
  font-size: 11px;
  font-weight: 100;
  padding: 10px;
}

.task-body__card--preview h5 {
  padding: 5px;
  text-indent: 3px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.task-body__card--preview #card-calendar {
  display: inline;
  padding: 0px, 3px, 0px, 6px;
  margin-left: 10px;
  height: 12px;
  width: 12px;
  opacity: 0.2;
}

.task-body__card--preview #due-date {
  font-size: 12px;
  position: absolute;
  display: inline;
  bottom: 20px;
  color: #BDBDBD;
  padding: 10px;
}

.task-body__card--preview .icons {
  display: none;
  position: relative;
  left: 55%;
}

.task-body__card--preview #completed {
  height: 20px;
  width: 20px;
  opacity: 0.5;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  left: 2%;
}

.task-body__card--preview #priority {
  height: 20px;
  width: 20px;
  opacity: 0.5;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  left: 2%;
}

.task-body__card--preview #archive {
  height: 20px;
  width: 20px;
  opacity: 0.5;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  left: 2%;
}

.task-body__card--preview:hover .icons {
  display: block;
}

.task-body__card--preview:hover #archive:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.task-body__card--preview:hover #priority:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.task-body__card--preview:hover #completed:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media only screen and (max-width: 767px) {
  .task-body__card {
    float: left;
    margin: 0px 10px 30px 10px;
    top: 20px;
    position: relative;
    height: 100px;
    width: 250px;
    background: #FFFFFF;
    border: 1px solid rgba(236, 236, 236, 0.5);
    -webkit-box-shadow: 4px 4px 20px rgba(205, 205, 205, 0.2);
            box-shadow: 4px 4px 20px rgba(205, 205, 205, 0.2);
    position: relative;
    height: 30px;
    width: 250px;
  }
  .task-body__card #add-task {
    position: absolute;
    height: 70px;
    top: 10px;
    left: 80px;
  }
  .task-body__card h2 {
    position: relative;
    left: 80px;
    font-weight: 200;
    margin: 20px auto;
  }
  .task-body__card:hover {
    -webkit-box-shadow: 5px 5px 20px rgba(117, 117, 117, 0.31);
            box-shadow: 5px 5px 20px rgba(117, 117, 117, 0.31);
  }
  .task-body__card #add-task {
    position: absolute;
    height: 35px;
    top: -2px;
    left: -2px;
  }
  .task-body__card h2 {
    top: -14px;
  }
  .task-body__card--preview {
    float: left;
    margin: 0px 10px 30px 10px;
    top: 20px;
    position: relative;
    height: 100px;
    width: 250px;
    background: #FFFFFF;
    border: 1px solid rgba(236, 236, 236, 0.5);
    -webkit-box-shadow: 4px 4px 20px rgba(205, 205, 205, 0.2);
            box-shadow: 4px 4px 20px rgba(205, 205, 205, 0.2);
  }
  .task-body__card--preview #add-task {
    position: absolute;
    height: 70px;
    top: 10px;
    left: 80px;
  }
  .task-body__card--preview h2 {
    position: relative;
    left: 80px;
    font-weight: 200;
    margin: 20px auto;
  }
  .task-body__card--preview:hover {
    -webkit-box-shadow: 5px 5px 20px rgba(117, 117, 117, 0.31);
            box-shadow: 5px 5px 20px rgba(117, 117, 117, 0.31);
  }
  .task-body__card--preview #tag-color {
    display: block;
    height: 2px;
    width: 250px;
    background-color: #03A9F4;
  }
  .task-body__card--preview #sep {
    display: block;
    height: 1px;
    width: 130px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #BDBDBD;
    opacity: 0.2;
  }
  .task-body__card--preview p {
    display: none;
    font-weight: 100;
    font-size: 13px;
    padding: 5px;
    text-align: justify;
    margin: 5px;
  }
  .task-body__card--preview h5 {
    padding: 5px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .task-body__card--preview #card-calendar {
    display: inline;
    padding: 0px, 3px, 0px, 5px;
    height: 12px;
    width: 12px;
    opacity: 0.2;
  }
  .task-body__card--preview #due-date {
    font-size: 12px;
    position: absolute;
    display: inline;
    bottom: 10px;
    color: #BDBDBD;
  }
  .task-body__card--preview .icons {
    display: none;
    position: absolute;
    top: 75%;
    left: 65%;
  }
  .task-body__card--preview #completed {
    height: 20px;
    width: 20px;
    opacity: 0.5;
    -webkit-filter: grayscale(100);
            filter: grayscale(100);
    left: 2%;
  }
  .task-body__card--preview #priority {
    height: 20px;
    width: 20px;
    opacity: 0.5;
    -webkit-filter: grayscale(100);
            filter: grayscale(100);
    left: 2%;
  }
  .task-body__card--preview #archive {
    height: 20px;
    width: 20px;
    opacity: 0.5;
    -webkit-filter: grayscale(100);
            filter: grayscale(100);
    left: 2%;
  }
  .task-body__card--preview:hover .icons {
    display: block;
  }
  .task-body__card--preview:hover #archive:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .task-body__card--preview:hover #priority:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .task-body__card--preview:hover #completed:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

input, input[type=color], button {
  border: none;
  outline: none;
  display: block;
}

form {
  margin: 50px 50px 50px 42px;
}

.taskDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 8px;
  width: 337px;
  height: 43px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-indent: 16px;
  padding: 0px;
}

input:focus {
  border: 1px solid #03A9F4;
  -webkit-transition: all 5ms linear;
  transition: all 5ms linear;
}

label {
  display: inline-block;
  margin-top: 17px;
}

input[type=date] {
  width: 150px;
  text-indent: 6px;
  font-family: 'Montserrat';
  font-weight: 100;
}

input[type=date]:nth-of-type(1) {
  margin-right: 8px;
}

input[type=color] {
  border: 1px;
  display: inline;
  margin-bottom: 16px;
  width: 30px;
  height: 30px;
}

::-webkit-input-placeholder {
  font-family: 'Montserrat';
  font-weight: 100;
}

:-ms-input-placeholder {
  font-family: 'Montserrat';
  font-weight: 100;
}

::-ms-input-placeholder {
  font-family: 'Montserrat';
  font-weight: 100;
}

::placeholder {
  font-family: 'Montserrat';
  font-weight: 100;
}

::-moz-selection {
  background-color: #03A9F4;
}

::selection {
  background-color: #03A9F4;
}

button {
  margin-top: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  width: 337px;
  height: 50px;
  border: 1px solid #03A9F4;
  border-radius: 3px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
}

button:hover {
  background-color: #03A9F4;
  color: #FFFFFF;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

@media only screen and (max-width: 767px) {
  .new-form {
    margin: 400px 50px 50px 42px;
  }
  input {
    border: none;
    outline: none;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 8px;
    width: 200px;
    height: 43px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    text-indent: 16px;
    padding: 0px;
  }
  input:focus {
    border: 1px solid #03A9F4;
    -webkit-transition: all 5ms linear;
    transition: all 5ms linear;
  }
  label {
    display: inline-block;
    margin-top: 17px;
  }
  input[type=date] {
    width: 200px;
    text-indent: 6px;
    font-family: 'Montserrat';
    font-weight: 100;
  }
  input[type=date]:nth-of-type(1) {
    margin-right: 8px;
  }
  input[type=color] {
    border: none;
    outline: none;
    display: block;
    border: 1px;
    display: inline;
    margin-bottom: 16px;
    width: 30px;
    height: 30px;
  }
  .taskDate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  ::-webkit-input-placeholder {
    font-family: 'Montserrat';
    font-weight: 100;
  }
  :-ms-input-placeholder {
    font-family: 'Montserrat';
    font-weight: 100;
  }
  ::-ms-input-placeholder {
    font-family: 'Montserrat';
    font-weight: 100;
  }
  ::placeholder {
    font-family: 'Montserrat';
    font-weight: 100;
  }
  ::-moz-selection {
    background-color: #03A9F4;
  }
  ::selection {
    background-color: #03A9F4;
  }
  button {
    border: none;
    outline: none;
    display: block;
    margin-top: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: transparent;
    width: 200px;
    height: 50px;
    border: 1px solid #03A9F4;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
  }
  button:hover {
    background-color: #03A9F4;
    color: #FFFFFF;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
}

.result-area {
  padding: 1px;
}

#add-task {
  display: block;
}

.result-container {
  width: 900px;
  margin-left: 55px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-container .title-item {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 300px;
}

.result-container .title-item .task-color {
  display: inline-block;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 11px;
  width: 5px;
}

.result-container .title-item h3 {
  display: inline-block;
  font-weight: 400;
  margin: 0px;
}

.result-container .title-item p {
  margin: 0px;
  font-size: 12px;
}

.result-container .date-item {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.result-container .date-item p {
  margin: 0px;
  font-size: 12px;
}

.result-container .icon-item {
  display: inline-block;
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#completed {
  position: relative;
  opacity: 0.5;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#completed:focus {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#priority {
  position: relative;
  opacity: 0.5;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#priority:focus {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#priority:active {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#archive {
  position: relative;
  opacity: 0.5;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#archive:focus {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media only screen and (max-width: 767px) {
  #search-re {
    position: absolute;
    bottom: 420px;
  }
  .result-container {
    width: 300px;
    margin: 0px;
    margin-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .result-container .title-item {
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    min-width: 50px;
  }
  .result-container .title-item .task-color {
    display: inline-block;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 11px;
    width: 5px;
  }
  .result-container .title-item h3 {
    display: inline-block;
    font-weight: 400;
    margin: 0px;
  }
  .result-container .title-item p {
    margin: 0px;
    font-size: 12px;
  }
  .result-container .date-item {
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .result-container .date-item p {
    margin: 0px;
    font-size: 12px;
  }
  .result-container .icon-item {
    display: inline-block;
    justify-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  #completed {
    position: relative;
    opacity: 0.5;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  #completed:focus {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  #priority {
    position: relative;
    opacity: 0.5;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  #priority:focus {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  #priority:active {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  #archive {
    position: relative;
    opacity: 0.5;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  #archive:focus {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

#tSearch {
  position: relative;
  border: none;
  border-bottom: 2px solid #BDBDBD;
  width: 900px;
  border-radius: 0;
  margin: 10px 40px;
  text-indent: 35px;
}

#tSearch:focus {
  border-bottom: 2px solid #03A9F4;
  -webkit-transition: all 50ms ease-in;
  transition: all 50ms ease-in;
}

#search-icon {
  position: absolute;
  left: 90px;
  top: 325px;
  z-index: 5;
  height: 15px;
  width: 15px;
  opacity: 0.3;
  -webkit-transition: all 50ms ease-in;
  transition: all 50ms ease-in;
}

@media only screen and (max-width: 767px) {
  #tSearch {
    position: relative;
    bottom: 145px;
    right: 81px;
    border: none;
    border-bottom: 2px solid #BDBDBD;
    width: 298px;
    border-radius: 0;
    text-indent: 35px;
  }
  #tSearch:focus {
    border-bottom: 2px solid #03A9F4;
    -webkit-transition: all 50ms ease-in;
    transition: all 50ms ease-in;
  }
  #search-icon {
    position: absolute;
    height: 15px;
    width: 15px;
    left: 3%;
    top: 10px;
    opacity: 0.3;
    -webkit-transition: all 50ms ease-in;
    transition: all 50ms ease-in;
    z-index: 5;
  }
}

.taskCard {
  position: relative;
  background: white;
  font-family: "Montserrat";
  font-weight: 100;
  margin: 0 auto;
}

.taskCard {
  position: absolute;
  width: 1041px;
  background-color: white;
  right: 7%;
  top: 7%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 767px) {
  .taskCard {
    right: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    width: 300px;
    height: 1000px;
    overflow-x: hidden;
  }
  #new-task-card {
    display: none;
  }
}

.task-body--add {
  display: none;
}

#taskName-error {
  color: red;
  margin: 0px;
  font-size: 14px;
}

#taskDDate-error {
  color: red;
  margin: 0px;
  font-size: 14px;
}

#task-illustration {
  position: absolute;
  width: 550px;
  height: 500px;
  top: 5%;
  left: 47%;
}

#close {
  position: absolute;
  top: 1%;
  left: 97%;
}

#toaster {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #C2185B;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
}

#toaster.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media only screen and (max-width: 767px) {
  #task-illustration {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 5%;
    left: 0%;
  }
  #close {
    top: 1%;
    left: 90%;
  }
}
/*# sourceMappingURL=main.css.map */