@import "../abstracts/mixins";
@import "../abstracts/variables";
.task-sort, select{
    position: absolute;
    outline: none;
    border: none;
    font-weight: 300;
    transform: translate($dDownX, $dDownY);
    font-family: $font;
    border-radius: $dDownBorderRadius;
    height: $dDownHeight;
    width: $dDownWidth;
    background-color: $dDownBgColor; 
    // #ee9ca7; 
}
