@import "../abstracts/mixins";
@import "../abstracts/variables";

#tSearch{
    position: relative;
    border: none;
    border-bottom: 2px solid #BDBDBD;
    width: 900px;
    border-radius: 0;
    margin: 10px 40px;
    &:focus{
        border-bottom: 2px solid #03A9F4;
        transition: all 50ms ease-in;
    }
    text-indent:35px;
}
#search-icon{
    position: absolute;
    left: 90px;
    top: 325px;
    z-index: 5;
    height: 15px;
    width:15px;
    opacity: 0.3;
    transition: all 50ms ease-in;
}


//phone
@media only screen and (max-width: 767px){
    #tSearch{
        position: relative;
        bottom: 600px;
        right: 80px;
        border: none;
        border-bottom: 2px solid #BDBDBD;
        width: 298px;
        border-radius: 0;
        &:focus{
            border-bottom: 2px solid #03A9F4;
            transition: all 50ms ease-in;
        }
        text-indent:35px;
    }
    #search-icon{
        @include margin(20px,5px,10px,5px);
        position: absolute;
        height: 15px;
        width:15px;
        left:3%;
        bottom:96%;
        opacity: 0.3;
        transition: all 50ms ease-in;
        z-index:5;
    }
}