@import "../abstracts/placeholders";

.task-body__card {
    @extend %task-body_card;

    h2 {
        position: absolute;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        top: 53%;
        left: 23%;
    }
}

.task-body__card--preview {
    @extend %task-body_card;

    #tag-color {
        display: block;
        height: 2px;
        width: 180px;
        // background-color: #03A9F4;
    }

    #sep {
        position: relative;
        left: 12px;
        display: block;
        height: 1px;
        width: 130px;
        @include margin(1px, 12px, 2px, 12px);
        background-color: #BDBDBD;
        opacity: 0.2;
    }

    p {
        font-size: 11px;
        font-weight: 100;
        padding: 10px;
    }

    h5 {
        text-align: center;
        padding: 5px;
        text-indent: 3px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .date-c {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: 10px;

        #card-calendar {
            display: inline-block;
            height: 12px;
            width: 12px;
            opacity: 0.2;
            margin: 0px;
        }

        #due-date {
            margin: 0px;
            font-size: 12px;
            display: inline-block;
            color: #BDBDBD;
            // padding: 10px;
            align-self: center;
        }
    }

    .icons {
        display: none;
        position: relative;
        left: 55%;
        bottom: 5px;
    }

    #completed {
        height: 20px;
        width: 20px;
        opacity: 0.5;
        filter: grayscale(100);
        left: 2%;
    }

    #priority {
        height: 20px;
        width: 20px;
        opacity: 0.5;
        filter: grayscale(100);
        left: 2%;
    }

    #archive {
        height: 20px;
        width: 20px;
        opacity: 0.5;
        filter: grayscale(100);
        left: 2%;
    }

    &:hover {
        .icons {
            display: block;
        }
    }
}

//phone
@media only screen and (max-width: 767px) {
    .task-body__card {
        @include taskBodyCard();
        display: none;
        position: relative;
        top: -50px;

        height: 30px;
        width: 250px;

        #add-task {
            position: absolute;
            height: 35px;
            top: -2px;
            left: -2px;
        }

        h2 {
            top: -14px;
        }
    }

    .task-body__card--preview {
        @include taskBodyCard();
        display:none;

        #tag-color {
            display: block;
            height: 2px;
            width: 250px;
            background-color: #03A9F4;
        }

        #sep {
            display: block;
            height: 1px;
            width: 130px;
            margin-left: 60px;
            margin-right: 60px;
            background-color: #BDBDBD;
            opacity: 0.2;
        }

        p {
            display: none;
            font-weight: 100;
            font-size: 13px;
            padding: 5px;
            text-align: justify;
            margin: 5px;

        }

        h5 {
            padding: 5px;
            // text-indent: 40px;
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        #card-calendar {
            display: inline;
            padding: 0px, 3px, 0px, 5px;
            // margin-left:5px;
            height: 12px;
            width: 12px;
            opacity: 0.2;
        }

        #due-date {
            font-size: 12px;
            position: absolute;
            display: inline;
            bottom: 10px;
            color: #BDBDBD;
        }

        .icons {
            display: none;
            position: absolute;
            top: 75%;
            left: 65%;
        }

        #completed {
            height: 20px;
            width: 20px;
            opacity: 0.5;
            filter: grayscale(100);
            left: 2%;
        }

        #priority {
            height: 20px;
            width: 20px;
            opacity: 0.5;
            filter: grayscale(100);
            left: 2%;
        }

        #archive {
            height: 20px;
            width: 20px;
            opacity: 0.5;
            filter: grayscale(100);
            left: 2%;
        }

        &:hover {
            .icons {
                display: block;
            }

            #archive:hover {
                filter: grayscale(0);
            }

            #priority:hover {
                filter: grayscale(0);
            }

            #completed:hover {
                filter: grayscale(0);
            }
        }
    }
}