@import "../abstracts/mixins";
@import "../abstracts/variables";

.task-body--add {
    display: none;
}
#taskName-error{
    color: red;
    margin: 0px;
    font-size: 14px;
}
#taskDDate-error{
    color: red;
    margin: 0px;
    font-size: 14px;
}

#task-illustration {
    // display: inline;
    position: absolute;
    width: 550px;
    height: 500px;
    top: 5%;
    left: 47%;
}

#close {
    position: absolute;
    top: 1%;
    left: 97%;
}

#toaster {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:#C2185B;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    padding: 16px;
    position: fixed;
    left: 50%;
    bottom: 30px;
    font-size: 16px;
}

#toaster.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}


@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@media only screen and (max-width: 767px) {
    #task-illustration {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 5%;
        left: 0%;
    }

    #close {
        top: 1%;
        left: 90%;
    }
}

// .task-body--view{
//     display: none;
// }
// .task-body--add{
//     display: inline;
// }