@import "../abstracts/variables";
@import "../components/taskCard";
@import "../abstracts/mixins";
.taskCard{
    position: absolute;
    width: $width;
    height: $height;
    background-color: $taskBgColor;
    right: 7%;
    top: 7%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}