@import "../abstracts/variables";
@import "../components/taskCard";
@import "../abstracts/mixins";

.taskCard {

    position: absolute;
    width: $width;
    // height: $height;
    background-color: $taskBgColor;
    right: 7%;
    top: 7%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

}

//phone
@media only screen and (max-width: 767px) {
    .taskCard {
        /* margin: 45px; */
        right: 0;
        left: 0;
        position: relative;
        margin: 10px auto;
        width: 350px;
        overflow-x: hidden;
    }

    #new-task-card {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .taskCard {
        /* margin: 45px; */
        right: 0;
        left: 0;
        position: relative;
        margin: 10px auto;
        width: 700px;
        overflow-x: hidden;
    }

    #new-task-card {
        display: none;
    }
}