@mixin margin($top, $right, $bottom, $left){
    margin: $top $right $bottom $left;
}
@mixin padding($top, $right, $bottom, $left){
    padding: $top $right $bottom $left;
}
@mixin dropShadow($x, $y, $blur, $radius){
    filter: drop-shadow($x $y $blur $radius);
}