%task-body_card {
    float: left;
    @include margin(0px, 5px, 30px, 5px);
    margin-left: 56px;
    top: 20px;
    left: 20px;
    position: relative;
    height: 200px;
    width: 180px;
    background: $whiteColor;
    border: 1px solid rgba(236, 236, 236, 0.5);
    box-shadow: 4px 4px 20px rgba(205, 205, 205, 0.2);

    #add-task {
        position: relative;
        height: 70px;
        top: 50px;
        left: 50px;
    }

    h2 {
        font-weight: 200;
    }

    &:hover {
        box-shadow: 5px 5px 20px rgba(117, 117, 117, 0.31);
    }
}

//phone