@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,900&display=swap');
//colors
$taskBgColor: white;
$taskCardShadow:#a73737;
$sepColor: rgba(121, 203, 202, 0.3);
$taskBoxColor: #ECE9E6;
$whiteColor: #FFFFFF;
$bodyBgColor: #E91E63; 
$font:'Montserrat';
// $cardHeaderColor: 
//task-card-dimensions
$width:1041px;
$height:600px;
$sepHeight:5px;
$sepWidth:100;
$cardHeaderFontSize: 2em !default;
//task-box-dimensions
$tboxTop: 0.5%;
$tboxLeft:25px;
$tboxWidth:450px;
$tboxHeight:150px;
$tboxBorderRadius: 10px;
//task-box-tag
$tboxTagTop:4px;
$tboxTagLeft:0.2px;
$tboxTagHeight: 140px;
$tboxTagWidth:5px;
$tboxTagBgColor:#FFC837;
$tboxTagBorRadius: 2px;
//drop-down
$dDownBorderRadius: 0px;
$dDownHeight:25px;
$dDownWidth:200px;
$dDownX: 295px;
$dDownY: -68px;
$dDownBgColor: #ffdde1;
//layout
//form-variables
$formWidth: 337px;
$formHeight:43px;
$formBorder: 1px solid rgba(0, 0, 0, 0.2);
$formRadius: 3px;
$formPadding: 5px;
$formMargin: 8px;
//form-input-color
$formColorWidth:40px;
$formColorHeight:30px;
//form-placeholers
$placeholderWeight:100;
//form-add-task-button
$addButtonWidth: 337px;
$addButtonHeight: 50px;
$addButtonBorder: 1px solid #03A9F4;
$addButtonRadius: 3px;
$addButtonFontWeight:400;
$addButtonFontSize:15px;
$addButtonHoverColor:#03A9F4;