@import "../abstracts/variables";

img {
    cursor: pointer;
}

#a-open {
    position: relative;
    /* margin-right: 40px; */
    left: -40px;
}

.result-area {
    padding: 1px;
}

a {
    height: 24px;
}

#sep-mob {
    display: none;
}

#f-text {
    display: inline;
    position: relative;
    top: 2px;
    left: 130px;
    margin: 0px;
}

#add-task {
    display: block;
}

#mob-header {
    display: none;
}

#search-re {
    bottom: 40px;
    position: relative;
    margin-top: 20px;
}

#mob-menu {
    display: none;
}

.filter-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
    bottom: 40px;
    // position: relative;
    position: relative;
    left: 813px;
    top: -87px;
}

#filter {
    display: inline;
    position: relative;
    left: 98px;

    /* top: 0px; */
    top: 0px;
}

.filter-icon {
    position: relative;
    left: 65px;


    #completed {
        position: relative;
        opacity: 0.5;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

        &:active {
            filter: grayscale(1);
        }
    }

    #priority {
        position: relative;
        opacity: 0.5;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

        &:active {
            filter: grayscale(1);
        }
    }

    #archive {
        position: relative;
        opacity: 0.5;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

        &:active {
            filter: grayscale(1);
        }
    }
}

#filter-close {
    position: relative;
    left: 63px;
}

.result-container {
    min-height: 70px;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    #menu-mob {
        display: none;
    }

    .menu-s {
        display: none;

        #close-mob {
            display: none;
        }

        .icons-item-m {
            display: none;
        }
    }

    .title-item {
        display: inline-block;
        align-self: center;
        min-width: 300px;
        overflow-wrap: break-word;
        width: 400px;

        .task-color {
            display: inline-block;
            justify-self: center;
            height: 11px;
            width: 5px;
        }

        h3 {
            display: inline-block;
            font-weight: 400;
            margin: 0px;
        }

        p {
            margin: 0px;
            font-size: 12px;
        }
    }

    .date-item {
        // width:300px;
        display: inline-block;
        align-self: center;

        p {
            margin: 0px;
            font-size: 12px;
        }
    }

    .icon-item {
        // width:300px;
        display: inline-block;
        justify-self: flex-end;
        align-self: flex-end;
    }

}


#completed {
    position: relative;
    opacity: 0.5;
    filter: grayscale(1);

    &:hover {
        filter: grayscale(0);
    }

}

#priority {
    position: relative;
    opacity: 0.5;
    filter: grayscale(1);

    &:hover {
        filter: grayscale(0);
    }

    &:active {
        filter: grayscale(1);
    }
}

#archive {
    position: relative;
    opacity: 0.5;
    filter: grayscale(1);

    &:hover {
        filter: grayscale(0);
    }

}

@media only screen and (max-width: 767px) {
    #search-re {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        position: relative;
        bottom: 130px;

        #mob-header {
            display: block;
            font-weight: 300;
            text-align: center;
        }

    }

    #sep-mob {
        display: block;
    }

    #filter {
        top: -2px;
        left: 25px;
    }
    #a-open{
        position: relative;
        left:-70px;
    }
    #f-text {
        font-size: 14px;
        left: 20px;
    }
    #filter-close--a{
        position: relative;
        left:-40px;
    }
    #filter-close {
        left: 0px;
    }

    .filter-icon {
        left: -40px;
    }

    .filter-r {
        position: relative;
        left: 280px;
        top: -173px;
    }

    .result-container {
        min-height: 50px;
        width: 300px;
        margin: 0px;
        margin-bottom: 20px;
        display: inline-block;
        top: -60px;
        align-self: center;
        position: relative;

        #sep-mob {
            margin-top: 15px;
            margin-bottom: 15px;
            height: 2px;
            width: 280px;
            background-color: #BDBDBD;
            opacity: 0.3;

        }

        #mob-menu {
            display: inline;
            position: relative;
            left: 250px;
            // bottom: 11px;
            top: 25px;
            opacity: 0.5;
        }

        .menu-s {
            position: absolute;
            left: 170px;
            top: 20px;
            // position: sticky;
            padding: 2px;
            height: 30px;
            width: 130px;
            border-radius: 3px;
            background-color: #FFFFFF;
            // right: 50px;
            -webkit-box-shadow: -8px -5px 57px -8px rgba(97, 97, 97, 1);
            -moz-box-shadow: -8px -5px 57px -8px rgba(97, 97, 97, 1);
            box-shadow: -8px -5px 57px -8px rgba(97, 97, 97, 0.6);


            #close-mob {
                display: inline-block;
                position: relative;
                z-index: 5;
                left: 100px;
                top: 3px;
            }

            .icons-item-m {
                display: block;
            }
        }

        #t-desc {
            display: block;
        }

        .title-item {
            display: inline-block;
            align-self: center;
            min-width: 100px;

            .task-color {
                display: inline-block;
                justify-self: center;
                height: 15px;
                width: 4px;
            }

            h3 {
                display: inline-block;
                font-weight: 400;
                margin: 0px;
            }

            p {
                // text-align:justify;
                width: 300px;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0px;
                margin-top: 20px;
                font-size: 12px;
            }
        }

        .date-item {
            // text-indent: 10px;
            display: inline-block;
            align-self: center;

            p {
                margin: 0px;
                font-size: 12px;
                // text-indent: 38px;
            }
        }

        .icons-item {
            display: none;
        }

        .icons-item-m {
            position: relative;
            width: 130px;
            height: 0px;
            bottom: 25px;
            right: 12px;
            // left: 20px;
            // bottom: 25px;
            margin-bottom: 1px;
            margin-left: 20px;
            display: inline-block;

            #completed-m {
                position: relative;
                opacity: 0.5;
                filter: grayscale(1);

                &:hover {
                    filter: grayscale(0);
                }

            }

            #priority-m {
                position: relative;
                opacity: 0.5;
                filter: grayscale(1);

                &:hover {
                    filter: grayscale(0.6);
                }

                &:active {
                    filter: grayscale(1);
                }
            }

            #archive-m {
                position: relative;
                opacity: 0.5;
                filter: grayscale(1);

                &:hover {
                    filter: grayscale(0.6);
                }

            }

        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .result-area {
        padding: 1px;
    }

    #add-task {
        display: block;
    }

    #mob-header {
        display: none;
    }

    #search-re {
        margin-top: 20px;
    }

    #mob-menu {
        display: none;
    }

    .filter-r {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-end;
        position: relative;
        left: 480px;
        top: -70px;

    }

    #f-text {
        font-size: 14px;
        display: inline;
        position: relative;
        top: -47px;
        left: 85px;
        margin: 0px;
    }

    #filter {
        display: inline;
        position: relative;
        left: 57px;
        top: -50px;
    }

    .filter-icon {
        position: relative;
        left: 68px;
        bottom: 50px;

        #completed {
            position: relative;
            opacity: 0.5;
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0);
            }

            &:active {
                filter: grayscale(1);
            }
        }

        #priority {
            position: relative;
            opacity: 0.5;
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0);
            }

            &:active {
                filter: grayscale(1);
            }
        }

        #archive {
            position: relative;
            opacity: 0.5;
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0);
            }

            &:active {
                filter: grayscale(1);
            }
        }
    }

    #filter-close {
        position: relative;
        left: 55px;
        bottom: 50px;
    }

    .result-container {

        width: 100%;
        min-height: 50px;
        margin-left: 0px;
        padding-left: 20px;
        top: -80px;
        margin-bottom: 10px;
        right: 15px;
        bottom: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;
        bottom: 50px;

        #menu-mob {
            display: none;
        }

        .menu-s {
            display: none;

            #close-mob {
                display: none;
            }

            .icons-item-m {
                display: none;
            }
        }

        .title-item {
            display: inline-block;
            align-self: center;
            min-width: 200px;
            width: 200px;
            overflow-wrap: wrap;
            width: 300px;

            .task-color {
                display: inline-block;
                justify-self: center;
                height: 11px;
                width: 5px;
            }

            h3 {
                display: inline-block;
                font-weight: 400;
                margin: 0px;
            }

            p {
                margin: 0px;
                font-size: 12px;
            }
        }

        .date-item {
            // width:300px;
            display: inline-block;
            align-self: center;

            p {
                margin: 0px;
                font-size: 12px;
            }
        }

        .icon-item {
            // width:300px;
            display: inline-block;
            justify-self: flex-end;
            align-self: flex-end;
        }

    }


    #completed {
        position: relative;
        opacity: 0.5;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

    }

    #priority {
        position: relative;
        opacity: 0.5;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

        &:active {
            filter: grayscale(1);
        }
    }

    #archive {
        position: relative;
        opacity: 0.5;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

    }

}

@media (min-width: 768px) and (max-width: 1200px) {
    .result-area {
        padding: 1px;
    }

    #add-task {
        display: block;
    }

    #mob-header {
        display: none;
    }

    #search-re {
        margin-top: 20px;
    }

    #mob-menu {
        display: none;
    }

    .filter-r {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-end;
        bottom: 30px;
        position: relative;
        left: 480px;
        top: -70px;
    }

    #f-text {
        display: inline;
        position: relative;
        top: -47px;
        left: 130px;
        margin: 0px;
    }

    #filter {
        display: inline;
        position: relative;
        left: 107px;
        top: -50px;
    }

    .filter-icon {
        position: relative;
        left: 68px;
        bottom: 50px;

        #completed {
            position: relative;
            opacity: 0.5;
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0);
            }

            &:active {
                filter: grayscale(1);
            }
        }

        #priority {
            position: relative;
            opacity: 0.5;
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0);
            }

            &:active {
                filter: grayscale(1);
            }
        }

        #archive {
            position: relative;
            opacity: 0.5;
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0);
            }

            &:active {
                filter: grayscale(1);
            }
        }
    }

    #filter-close {
        position: relative;
        left: 65px;
        bottom: 50px;
    }

    .result-container {

        width: 100%;
        min-height: 50px;
        margin-left: 0px;
        padding-left:10px;
        top: -80px;
        margin-bottom: 10px;
        // right: 15px;
        bottom: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;
        bottom: 50px;

        #menu-mob {
            display: none;
        }

        .menu-s {
            display: none;

            #close-mob {
                display: none;
            }

            .icons-item-m {
                display: none;
            }
        }

        .title-item {
            min-width: 200px;
            width: 200px;
            display: inline-block;
            align-self: center;
            // min-width: 100px;
            overflow-wrap: wrap;

            .task-color {
                display: inline-block;
                justify-self: center;
                height: 11px;
                width: 5px;
            }

            h3 {
                display: inline-block;
                font-weight: 400;
                margin: 0px;
            }

            p {
                margin: 0px;
                font-size: 12px;
            }
        }

        .date-item {
            // width:300px;
            display: inline-block;
            align-self: center;

            p {
                margin: 0px;
                font-size: 12px;
            }
        }

        .icon-item {
            // width:300px;
            display: inline-block;
            justify-self: flex-end;
            align-self: flex-end;
        }

    }


    #completed {
        position: relative;
        opacity: 0.5;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

    }

    #priority {
        position: relative;
        opacity: 0.5;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

        &:active {
            filter: grayscale(1);
        }
    }

    #archive {
        position: relative;
        opacity: 0.5;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

    }

}