@import "../abstracts/variables";
@import "../abstracts/mixins";

.taskCard {
    position: relative;
    background: $taskBgColor;
    font-family: $font;
    font-weight: 100;
    margin: 0 auto;
}

#copyright {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #E91E63;
}