@import "../abstracts/mixins";
@import "../abstracts/variables";

.task-body--add {
    display: none;
    // check
}

#taskName-error {
    color: red;
    margin: 0px;
    font-size: 14px;
}

#taskDDate-error {
    color: red;
    margin: 0px;
    font-size: 14px;
}

#mob-sep--form {
    display: none;
}

#add-new-task {
    display: none;
}

#task-illustration {
    // display: inline;
    position: absolute;
    width: 550px;
    height: 500px;
    top: 5%;
    left: 47%;
}

#close {
    position: absolute;
    top: 1%;
    left: 97%;
}

#toaster {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #C2185B;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    padding: 16px;
    position: fixed;
    left: 50%;
    bottom: 30px;
    font-size: 16px;
}

#toaster.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}


@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@media only screen and (max-width: 767px) {
    #task-illustration {
        display: none;
    }

    #mob-sep--form {
        display: inline;
        height: 2px;
        width: 500px;
        position: absolute;
        top: 40px;
        background-color: #BDBDBD;

        p {
            font-weight: 400;
            position: relative;
            left: 10px;
            bottom: 29px;
            display: inline;
        }
    }

    #add-new-task {
        display: inline;
        // position: relative;
        right: 30px;
        /* left: 280px; */
        bottom: 0px;
        height: 70px;
        position: fixed;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 230px;

    }

    #close {
        top: 1%;
        left: 90%;
    }

    #toaster {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #C2185B;
        border-radius: 3px;
        color: #fff;
        text-align: center;
        padding: 16px;
        position: fixed;
        left: 50%;
        bottom: 630px;
        font-size: 16px;
    }

    #toaster.show {
        visibility: visible;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    #task-illustration{
        top: 150px;
        left:325px;
        display: inline;
        height: 400px;
        width: 400px;
    }
    #close {
        top: 1%;
        left: 94%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {

    #task-illustration {
        top: 150px;
        left:325px;
        display: inline;
        height: 400px;
        width: 400px;

    }
    

    #close {
        top: 1%;
        left: 95%;
    }

}

// .task-body--view{
//     display: none;
// }
// .task-body--add{
//     display: inline;
// }